
<div class="text-center">
  <h2>Вход</h2>
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-floating">
        <input type="email" class="form-control" id="user_email" name="user[email]" placeholder="name@example.com">
        <label for="floatingInput">Email адрес</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Пароль">
        <label for="floatingPassword">Пароль</label>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="user[remember_me]" value="remember-me"> Запомнить меня
          </label>
        </div>
      <% end %>
      <button class="w-100 btn btn-lg btn-success" type="submit">Войти</button>
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= button_to raw("<i class=\"bi bi-github\"></i> Зайти через #{OmniAuth::Utils.camelize(provider)}"), omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "w-100 btn btn-lg btn-primary btn-vmargin" %><br />
      <% end %>
    <% end %>
  </main>
</div>

<% render "devise/shared/links" %>

