.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    font-family: Arial, serif;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.content {
    padding: 0 40px;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    flex-direction: column;
    gap: 30px;
}

.header {
    width: 100%;
    padding: 0 40px 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}