[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cache-to-disk= "*"
countrynames= "*"
pycountry = "*"
requests = "*"
yfinance = "*"

[dev-packages]
pipenv-setup = "*"
vistir = "==0.6.1" # https://github.com/Madoshakalaka/pipenv-setup/issues/138

[requires]
python_version = "3.12"
