#Redis section
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_EXPIRE=300
REDIS_PASSWORD="P@ssw0rd"

#PostgreSQL section
DB_NAME=market
DB_USER=app
DB_PASSWORD=123qwe
# DB_HOST=localhost
DB_HOST=db
DB_PORT=5432
DB_SCHEMA=content

CH_CLUSTER_NAME=main_cluster
CH_DB_NAME=algotrade
CH_REPLICA_DB_NAME=algotrade_replica
CH_NODES=clickhouse-node01:9000,clickhouse-node02:9000,clickhouse-node03:9000,clickhouse-node04:9000

CH_USER=user
CH_PASSWORD=password
CH_INIT_DATA=False
CH_INIT_DATA_PATH=
CH_INIT_TABLE="algotrade.algopack"
CH_LOG_LEVEL=debug
CH_KEEPER_TCP_PORT=9181
CH_KEEPER_RAFT_SERVER_PORT=9444

CLICKHOUSE_NODE01_HOST=clickhouse-node01
CLICKHOUSE_NODE01_PORT=9000
CLICKHOUSE_NODE01_USER=user
CLICKHOUSE_NODE01_PASSWORD=password
CLICKHOUSE_NODE01_ALGOTRADE_REPLICA_PATH=/clickhouse/tables/shard1/algopack
CLICKHOUSE_NODE01_ALGOTRADE_REPLICA_NAME=replica1
CLICKHOUSE_NODE01_ALGOTRADE_DISTRIBUTED_TABLE=algopack
CLICKHOUSE_NODE01_CLUSTER=main_cluster

CLICKHOUSE_NODE02_HOST=clickhouse-node02
CLICKHOUSE_NODE02_PORT=9000
CLICKHOUSE_NODE02_USER=user
CLICKHOUSE_NODE02_PASSWORD=password
CLICKHOUSE_NODE02_ALGOTRADE_REPLICA_PATH=/clickhouse/tables/shard1/algopack
CLICKHOUSE_NODE02_ALGOTRADE_REPLICA_NAME=replica2
CLICKHOUSE_NODE02_ALGOTRADE_DISTRIBUTED_TABLE=algopack
CLICKHOUSE_NODE02_CLUSTER=main_cluster

CLICKHOUSE_NODE03_HOST=clickhouse-node03
CLICKHOUSE_NODE03_PORT=9000
CLICKHOUSE_NODE03_USER=user
CLICKHOUSE_NODE03_PASSWORD=password
CLICKHOUSE_NODE03_ALGOTRADE_REPLICA_PATH=/clickhouse/tables/shard2/algopack
CLICKHOUSE_NODE03_ALGOTRADE_REPLICA_NAME=replica3
CLICKHOUSE_NODE03_ALGOTRADE_DISTRIBUTED_TABLE=algopack
CLICKHOUSE_NODE03_CLUSTER=main_cluster

CLICKHOUSE_NODE04_HOST=clickhouse-node04
CLICKHOUSE_NODE04_PORT=9000
CLICKHOUSE_NODE04_USER=user
CLICKHOUSE_NODE04_PASSWORD=password
CLICKHOUSE_NODE04_ALGOTRADE_REPLICA_PATH=/clickhouse/tables/shard2/algopack
CLICKHOUSE_NODE04_ALGOTRADE_REPLICA_NAME=replica4
CLICKHOUSE_NODE04_ALGOTRADE_DISTRIBUTED_TABLE=algopack
CLICKHOUSE_NODE04_CLUSTER=main_cluster

CLICKHOUSE_NODE05_HOST=clickhouse-node05
CLICKHOUSE_NODE05_PORT=9000
CLICKHOUSE_NODE05_USER=user
CLICKHOUSE_NODE05_PASSWORD=password
CLICKHOUSE_NODE05_ALGOTRADE_REPLICA_PATH=/clickhouse/tables/shard3/algopack
CLICKHOUSE_NODE05_ALGOTRADE_REPLICA_NAME=replica5
CLICKHOUSE_NODE05_ALGOTRADE_DISTRIBUTED_TABLE=algopack
CLICKHOUSE_NODE05_CLUSTER=main_cluster

CLICKHOUSE_NODE06_HOST=clickhouse-node06
CLICKHOUSE_NODE06_PORT=9000
CLICKHOUSE_NODE06_USER=user
CLICKHOUSE_NODE06_PASSWORD=password
CLICKHOUSE_NODE06_ALGOTRADE_REPLICA_PATH=/clickhouse/tables/shard3/algopack
CLICKHOUSE_NODE06_ALGOTRADE_REPLICA_NAME=replica6
CLICKHOUSE_NODE06_ALGOTRADE_DISTRIBUTED_TABLE=algopack
CLICKHOUSE_NODE06_CLUSTER=main_cluster

#Airflow db section
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

#Airflow section
AIRFLOW_UID=1001

#DAG update osm section 
AIRFLOW_DAG_OSM_SCHEDULE=0 0 * * 1

#Airflow section
AIRFLOW_PORT=8080

#Spark section
SPARK_MASTER_WEB_PORT=8080
SPARK_MASTER_DRIVER=spark
SPARK_MASTER_HOST=spark-master
SPARK_MASTER_PORT=7077

#Hadoop section
CORE_CONF_fs_defaultFS=hdfs://namenode:9000
CORE_CONF_hadoop_http_staticuser_user=root
CORE_CONF_hadoop_proxyuser_hue_hosts=*
CORE_CONF_hadoop_proxyuser_hue_groups=*
CORE_CONF_io_compression_codecs=org.apache.hadoop.io.compress.SnappyCodec

#HDFS section
HDFS_CONF_dfs_webhdfs_enabled=true
HDFS_CONF_dfs_permissions_enabled=false
HDFS_CONF_dfs_namenode_datanode_registration_ip___hostname___check=false

#HDFS custom section
HDFS_DRIVER=hdfs
HDFS_HOST=namenode
HDFS_PORT=9000
HDFS_PATH=/parquet

#Invest panel settings
INVEST_PANEL_PORT=60666
INVEST_PANEL_PROJECT_NAME="Invest panel API"
INVEST_PANEL_API_URL=http://invest_panel
INVEST_PANEL_API_PATH=/invest/api
INVEST_PANEL_API_VERSION=v1
INVEST_PANEL_SWAGGER_PATH=/openapi
INVEST_PANEL_JSON_SWAGGER_PATH=/openapi.json
INVEST_PANEL_PAGE_SIZE=100