:root {
  --primary: rgba(187, 38, 26, 1);
  --primaryblue-light: rgba(236, 236, 254, 1);
  --primaryyellow: rgba(239, 134, 51, 1);
  --primarywhite: rgba(255, 255, 255, 1);
  --blackblack: rgba(0, 0, 0, 1);
  --blackblack-50: rgba(0, 0, 0, 0.5);
  --greygrey-90: rgba(82, 100, 119, 1);
  --greygrey-70: rgba(126, 146, 162, 1);
  --grey-grey-50: rgba(214, 225, 230, 1);
  --greygrey-30: rgba(234, 238, 244, 1);
  --greygrey-20: rgba(238, 246, 251, 1);
  --greygrey-10: rgba(246, 250, 253, 1);
  --heading-h1-bold-font-family: "SBSans Text-Regular", Helvetica;
  --heading-h1-bold-font-weight: 400;
  --heading-h1-bold-font-size: 36px;
  --heading-h1-bold-letter-spacing: 0px;
  --heading-h1-bold-line-height: 60px;
  --heading-h1-bold-font-style: normal;
  --heading-h2-bold-font-family: "SBSans Text-Regular", Helvetica;
  --heading-h2-bold-font-weight: 400;
  --heading-h2-bold-font-size: 28px;
  --heading-h2-bold-letter-spacing: 0px;
  --heading-h2-bold-line-height: 40px;
  --heading-h2-bold-font-style: normal;
  --heading-h3-bold-font-family: "Inter-Bold", Helvetica;
  --heading-h3-bold-font-weight: 700;
  --heading-h3-bold-font-size: 24px;
  --heading-h3-bold-letter-spacing: 0px;
  --heading-h3-bold-line-height: 40px;
  --heading-h3-bold-font-style: normal;
  --heading-h4-regular-font-family: "Inter-Regular", Helvetica;
  --heading-h4-regular-font-weight: 400;
  --heading-h4-regular-font-size: 20px;
  --heading-h4-regular-letter-spacing: 0px;
  --heading-h4-regular-line-height: 40px;
  --heading-h4-regular-font-style: normal;
  --heading-h4-bold-font-family: "Inter-Bold", Helvetica;
  --heading-h4-bold-font-weight: 700;
  --heading-h4-bold-font-size: 20px;
  --heading-h4-bold-letter-spacing: 0px;
  --heading-h4-bold-line-height: 40px;
  --heading-h4-bold-font-style: normal;
  --heading-h5-medium-font-family: "Inter-Medium", Helvetica;
  --heading-h5-medium-font-weight: 500;
  --heading-h5-medium-font-size: 18px;
  --heading-h5-medium-letter-spacing: 0px;
  --heading-h5-medium-line-height: 30px;
  --heading-h5-medium-font-style: normal;
  --heading-h5-bold-font-family: "Inter-Bold", Helvetica;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-font-size: 18px;
  --heading-h5-bold-letter-spacing: 0px;
  --heading-h5-bold-line-height: 30px;
  --heading-h5-bold-font-style: normal;
  --body-regular-font-family: "Inter-Regular", Helvetica;
  --body-regular-font-weight: 400;
  --body-regular-font-size: 16px;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 30px;
  --body-regular-font-style: normal;
  --body-medium-font-family: "Inter-Medium", Helvetica;
  --body-medium-font-weight: 500;
  --body-medium-font-size: 16px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 30px;
  --body-medium-font-style: normal;
  --body-bold-font-family: "Inter-Bold", Helvetica;
  --body-bold-font-weight: 700;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 30px;
  --body-bold-font-style: normal;
  --body-bold-27-font-family: "Inter-Bold", Helvetica;
  --body-bold-27-font-weight: 700;
  --body-bold-27-font-size: 16px;
  --body-bold-27-letter-spacing: 0px;
  --body-bold-27-line-height: 27px;
  --body-bold-27-font-style: normal;
  --small-regular-27-font-family: "Inter-Regular", Helvetica;
  --small-regular-27-font-weight: 400;
  --small-regular-27-font-size: 14px;
  --small-regular-27-letter-spacing: 0px;
  --small-regular-27-line-height: 27px;
  --small-regular-27-font-style: normal;
  --small-regular-font-family: "Inter-Regular", Helvetica;
  --small-regular-font-weight: 400;
  --small-regular-font-size: 14px;
  --small-regular-letter-spacing: 0px;
  --small-regular-line-height: 30px;
  --small-regular-font-style: normal;
  --small-medium-27-font-family: "Inter-Medium", Helvetica;
  --small-medium-27-font-weight: 500;
  --small-medium-27-font-size: 14px;
  --small-medium-27-letter-spacing: 0px;
  --small-medium-27-line-height: 27px;
  --small-medium-27-font-style: normal;
  --small-medium-font-family: "Inter-Medium", Helvetica;
  --small-medium-font-weight: 500;
  --small-medium-font-size: 14px;
  --small-medium-letter-spacing: 0px;
  --small-medium-line-height: 30px;
  --small-medium-font-style: normal;
  --small-bold-27-font-family: "Inter-Bold", Helvetica;
  --small-bold-27-font-weight: 700;
  --small-bold-27-font-size: 14px;
  --small-bold-27-letter-spacing: 0px;
  --small-bold-27-line-height: 27px;
  --small-bold-27-font-style: normal;
  --small-bold-font-family: "Inter-Bold", Helvetica;
  --small-bold-font-weight: 700;
  --small-bold-font-size: 14px;
  --small-bold-letter-spacing: 0px;
  --small-bold-line-height: 30px;
  --small-bold-font-style: normal;
  --extra-small-medium-font-family: "Inter-Medium", Helvetica;
  --extra-small-medium-font-weight: 500;
  --extra-small-medium-font-size: 12px;
  --extra-small-medium-letter-spacing: 0px;
  --extra-small-medium-line-height: 20px;
  --extra-small-medium-font-style: normal;
  --extra-small-bold-font-family: "Inter-Bold", Helvetica;
  --extra-small-bold-font-weight: 700;
  --extra-small-bold-font-size: 12px;
  --extra-small-bold-letter-spacing: 0px;
  --extra-small-bold-line-height: 20px;
  --extra-small-bold-font-style: normal;
}
