{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'main/css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/styleguide.css' %}" />
  </head>
  <body>
    <div class="dashboard">
      <div class="div">
        <div class="overlap">
          <div class="screen-columns-BG">
            <div class="base"></div>
            <div class="right-area"></div>
          </div>
          <div class="body">
            <div class="left-area">
              <div class="row">
                <div class="dashboard-next">
                  <div class="overlap-group">
                    <div class="background"></div>
                    <div class="deal-wrapper">
                      <div class="deal">
                        <div class="deal-info">
                          <div class="image"></div>
                          <div class="div-2">
                            <div class="div-3"><div class="street">Новиков Никита</div></div>
                            <div class="div-3"><div class="text-wrapper">25 лет</div></div>
                          </div>
                        </div>
                        <div class="view">
                          <div class="text-wrapper">Сумма кредита</div>
                          <div class="appointment-date">1 000 000 руб.</div>
                        </div>
                        <div class="view-2">
                          <div class="label">Процентная ставка</div>
                          <div class="of-people">15%</div>
                        </div>
                        <div class="room-area">
                          <div class="text-wrapper">Срок кредита</div>
                          <div class="room-area-wrapper"><div class="room-area-2">5 лет</div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="title">
                    <div class="text-wrapper-2">Заявка на рассмотрении</div>
                    <div class="badge"></div>
                  </div>
                </div>
                <div class="dashboard-recent">
                  <div class="title-2">
                    <div class="text-wrapper-3">Заявки на очереди</div>
                    <div class="text-wrapper-4">View All</div>
                  </div>
                  <div class="dashboard-recent-2">
                    <div class="detail-wrapper">
                      <div class="detail">
                        <div class="image-2"></div>
                        <div class="div-2">
                          <div class="line">
                            <div class="text-wrapper-5">Липарит Гегамян</div>
                            <div class="price">
                              <div class="text-wrapper-6">₽</div>
                              <div class="text-wrapper-6">1,5 млн.</div>
                            </div>
                          </div>
                          <div class="line">
                            <div class="address"><div class="text-wrapper-7">Заявка от</div></div>
                            <div class="appointment-date-2">22.10.23, 09:00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="detail-wrapper">
                      <div class="detail">
                        <div class="image-2"></div>
                        <div class="div-2">
                          <div class="line">
                            <div class="text-wrapper-5">Андрей Лобко</div>
                            <div class="price">
                              <div class="text-wrapper-6">₽</div>
                              <div class="text-wrapper-6">1,5 млн.</div>
                            </div>
                          </div>
                          <div class="line">
                            <div class="address"><div class="text-wrapper-7">Заявка от</div></div>
                            <div class="appointment-date-2">22.10.23, 09:00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="detail-wrapper">
                      <div class="detail">
                        <div class="image-2"></div>
                        <div class="div-2">
                          <div class="line">
                            <div class="text-wrapper-5">Екатерина Чехиркина</div>
                            <div class="price">
                              <div class="text-wrapper-6">₽</div>
                              <div class="text-wrapper-6">1,5 млн.</div>
                            </div>
                          </div>
                          <div class="line">
                            <div class="address"><div class="text-wrapper-7">Заявка от</div></div>
                            <div class="appointment-date-2">22.10.23, 09:00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="detail-wrapper">
                      <div class="detail">
                        <div class="image-2"></div>
                        <div class="div-2">
                          <div class="line">
                            <div class="text-wrapper-5">София Смешинкина</div>
                            <div class="price">
                              <div class="text-wrapper-6">₽</div>
                              <div class="text-wrapper-6">1,5 млн.</div>
                            </div>
                          </div>
                          <div class="line">
                            <div class="address"><div class="text-wrapper-7">Заявка от</div></div>
                            <div class="appointment-date-2">22.10.23, 09:00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-2">
                <div class="counter">
                  <div class="div-4">
                    <div class="dashboard-customers">
                      <div class="overlap-2">
                        <div class="overlap-group-2">
                          <div class="text-wrapper-8">Заявок на очереди</div>
                          <div class="icon"><img class="img" src="{% static 'main/img/vuesax-bold-profile-2user.svg' %}" /></div>
                        </div>
                        <div class="customers-count">1488</div>
                      </div>
                    </div>
                  </div>
                  <div class="div-4">
                    <div class="dashboard-deals">
                      <div class="text-wrapper-9">Заявок рассмотрено</div>
                      <div class="deals-count">228</div>
                      <div class="vuesax-bold-wrapper"><img class="img" src="{% static 'main/img/vuesax-bold-briefcase.svg' %}" /></div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-deal">
                  <div class="deal-2">
                    <div class="progress-deal">
                      <div class="detail-2">
                        <div class="image-wrapper"><img class="image-3" src="{% static 'main/img/image.png' %}" /></div>
                        <div class="customer-address">
                          <div class="text-wrapper-10">Коржик Сезамов</div>
                          <div class="line-2">
                            <div class="text-wrapper-7">Заявка от</div>
                            <div class="text-wrapper-7">22.11.23</div>
                          </div>
                        </div>
                      </div>
                      <div class="progress"><div class="progress-2">ОЖИДАЕТ</div></div>
                      <div class="base-2"></div>
                      <div class="icon-wrapper"><img class="icon-2" src="{% static 'main/img/icon-12.svg' %}" /></div>
                    </div>
                    <div class="activity-field">
                      <div class="overlap-group-3">
                        <div class="base-3"></div>
                        <div class="activity-list-SCROLL">
                          <div class="div-5">
                            <div class="div-wrapper"><div class="icon-3"></div></div>
                            <div class="activity">
                              <div class="content">
                                <div class="date-time">22.11.23</div>
                                <p class="notes">Заявка отправлена на доработку клиентскому менеджеру</p>
                              </div>
                            </div>
                          </div>
                          <div class="div-5">
                            <div class="div-wrapper"><div class="icon-3"></div></div>
                            <div class="activity">
                              <div class="content">
                                <div class="date-time">23.11.23</div>
                                <div class="notes">Ответ получен</div>
                              </div>
                            </div>
                          </div>
                          <div class="load-more"><div class="text-wrapper-11">Load More</div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-customers-wrapper">
              <div class="dashboard-customers-2">
                <div class="title-2">
                  <div class="text-wrapper-3">Обработанные заявки</div>
                  <div class="text-wrapper-12">Посмотреть все</div>
                </div>
                <div class="customer-list-wrapper">
                  <div class="customer-list">
                    <div class="customer">
                      <div class="customer-2">
                        <div class="avatar"></div>
                        <div class="div-2">
                          <div class="div-3">
                            <div class="text-wrapper-10">Вася</div>
                            <div class="text-wrapper-5">Пупкин</div>
                          </div>
                          <p class="email">Заявка на кредит от 22.10.23</p>
                        </div>
                      </div>
                      <div class="edit"><img class="icon-2" src="{% static 'main/img/icon-9.svg' %}" /></div>
                    </div>
                    <div class="customer">
                      <div class="customer-2">
                        <div class="avatar"></div>
                        <div class="div-2">
                          <div class="div-3">
                            <div class="text-wrapper-10">Вася</div>
                            <div class="text-wrapper-5">Пупкин</div>
                          </div>
                          <p class="email">Заявка на кредит от 22.10.23</p>
                        </div>
                      </div>
                      <div class="edit"><img class="icon-2" src="{% static 'main/img/icon-9.svg' %}"  /></div>
                    </div>
                    <div class="customer">
                      <div class="customer-2">
                        <div class="avatar"></div>
                        <div class="div-2">
                          <div class="div-3">
                            <div class="text-wrapper-10">Вася</div>
                            <div class="text-wrapper-5">Пупкин</div>
                          </div>
                          <p class="email">Заявка на кредит от 22.10.23</p>
                        </div>
                      </div>
                      <div class="edit"><img class="icon-2" src="{% static 'main/img/icon-9.svg' %}" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-navigation">
          <div class="menu">
            <div class="img-wrapper"><img class="icon-2" src="{% static 'main/img/icon-8.svg' %}" /></div>
            <a href="{% url 'workspace' %}">
                <div class="button-3"><img class="icon-2" src="{% static 'main/img/icon-7.svg' %}" /></div>
            </a>
            <div class="button-3"><img class="icon-2" src="{% static 'main/img/icon-6.svg' %}" /></div>
            <div class="button-3"><img class="icon-2" src="{% static 'main/img/icon-5.svg' %}" /></div>
            <div class="button-3"><img class="icon-2" src="{% static 'main/img/icon-4.svg' %}" /></div>
            <div class="button-3">
              <div class="badge-wrapper"><div class="badge-2"></div></div>
            </div>
            <div class="button-3"><img class="icon-2" src="{% static 'main/img/icon-2.svg' %}" /></div>
          </div>
          <div class="base-4"></div>
        </div>
        <div class="navigation-bar">
          <div class="overlap-3">
            <div class="left-bar"><div class="text-wrapper-13">Дашборд</div></div>
            <div class="right-bar">
              <div class="button-4"><img class="icon-2" src="{% static 'main/img/icon-1.svg' %}" /></div>
              <div class="add-new"><button class="button-5">Салют-помощник</button></div>
              <div class="user"></div>
            </div>
            <div class="logo">
              <div class="overlap-3">
                <div class="logo-2"><img class="image-4" src="{% static 'main/img/image-1.png' %}" /></div>
                <div class="overlap-group-4">
                  <div class="base-5"></div>
                  <div class="base-6"></div>
                </div>
              </div>
            </div>
            <div class="base-7"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
