{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'main/css/globalsW.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/styleW.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/styleguideW.css' %}" />
  </head>
  <body>
    <div class="deals">
      <div class="div">
        <div class="overlap">
          <div class="screen-columns-BG"><div class="base"></div></div>
          <div class="body">
            <div class="deals-view-results">
              <div class="info-and-filters">
                <div class="total-deals">
                  <div class="text-wrapper">Всего:</div>
                  <div class="text-wrapper">136</div>
                  <div class="text-wrapper">заявок</div>
                </div>
                <div class="sort-by">
                  <div class="text-wrapper-2">Сортировка: дата заявки</div>
                  <img class="vuesax-outline-arrow" src="{% static 'main/img/vuesax-outline-arrow-down.svg' %}" />
                </div>
                <div class="filter">
                  <div class="text-wrapper-3">Фильтр</div>
                  <img class="vuesax-outline" src="{% static 'main/img/vuesax-outline-filter-add.svg' %}"/>
                </div>
              </div>
              <div class="deal-list">
                <div class="table-header">
                  <div class="columns">
                    <div class="icon"><img class="vuesax-bold-image" src="{% static 'main/img/vuesax-bold-image.svg' %}" /></div>
                    <div class="div-wrapper"><div class="address">ФИО Клиента</div></div>
                    <div class="date-column"><div class="text-wrapper-4">Сумма заявки</div></div>
                    <div class="price-column"><div class="text-wrapper-4">Дата заявки</div></div>
                    <div class="status-column"><div class="text-wrapper-4">Статус</div></div>
                    <div class="edit-column"><div class="text-wrapper-5">Править</div></div>
                  </div>
                  <div class="border"></div>
                </div>
                <a href="{% url 'space_for_worker1' %}">
                  <img class="deal-row-repeat-link" src="{% static 'main/img/deal-row-repeat-link.svg' %}" />
                </a>
                <div class="deal-row-ignore">
                  <div class="cells">
                    <div class="image"><img class="img" src="{% static 'main/img/image-6.png' %}" /></div>
                    <div class="div-wrapper">
                      <div class="address-concat"><div class="text-wrapper-6">Раскольников Родион Романович</div></div>
                    </div>
                    <div class="price-cell"></div>
                    <div class="room-area-cell">
                      <div class="room-area-concat"><div class="text-wrapper-6">₽2,7 млн</div></div>
                    </div>
                    <div class="date-cell"><div class="appointment-date">15 Ноя, 2023 14:53</div></div>
                    <div class="progress"><div class="progress-2">В ОЧЕРЕДИ</div></div>
                    <div class="edit-cell">
                      <img class="vuesax-outline-edit" src="{% static 'main/img/vuesax-outline-edit-2-7.svg' %}" />
                    </div>
                  </div>
                  <div class="border-2"></div>
                </div>
                <div class="deal-row-ignore">
                  <div class="cells-2">
                    <div class="image"><img class="img" src="{% static 'main/img/image-5.png' %}" /></div>
                    <div class="div-wrapper">
                      <div class="address-concat"><div class="text-wrapper-6">Шерер Анна Павловна</div></div>
                    </div>
                    <div class="room-area-cell">
                      <div class="room-area-concat"><div class="text-wrapper-6">₽2,7 млн</div></div>
                    </div>
                    <div class="date-cell"><div class="appointment-date">13 Ноя, 2023 12:11</div></div>
                    <div class="progress"><div class="progress-3">ОТКАЗАНО</div></div>
                    <div class="edit-cell">
                      <img class="vuesax-outline-edit" src="{% static 'main/img/vuesax-outline-edit-2-2.svg' %}" />
                    </div>
                  </div>
                  <div class="border-2"></div>
                </div>
                <div class="deal-row-ignore-2">
                  <div class="cells-3">
                    <div class="image"><img class="img" src="{% static 'main/img/image-2.png' %}" /></div>
                    <div class="div-wrapper">
                      <div class="address-concat"><div class="text-wrapper-6">Безухов Петр Кириллович</div></div>
                    </div>
                    <div class="price-cell"></div>
                    <div class="room-area-cell">
                      <div class="room-area-concat"><div class="text-wrapper-6">₽2,7 млн</div></div>
                    </div>
                    <div class="date-cell"><div class="appointment-date">11 Ноя, 2023 14:53</div></div>
                    <div class="progress"><div class="progress-4">ОДОБРЕНО</div></div>
                    <div class="edit-cell">
                      <img class="vuesax-outline-edit" src="{% static 'main/img/vuesax-outline-edit-2-2.svg' %}" />
                    </div>
                  </div>
                  <div class="border-2"></div>
                </div>
                <div class="deal-row-ignore-3">
                  <div class="cells-3">
                    <div class="image"><img class="img" src="{% static 'main/img/image.png' %}" /></div>
                    <div class="div-wrapper">
                      <div class="address-concat"><div class="text-wrapper-6">Авакян Михаил Ашотович</div></div>
                    </div>
                    <div class="price-cell"></div>
                    <div class="room-area-cell">
                      <div class="room-area-concat"><div class="text-wrapper-6">₽2,7 млн</div></div>
                    </div>
                    <div class="date-cell"><div class="appointment-date">10 Ноя, 2023 14:53</div></div>
                    <div class="progress-wrapper"><div class="progress-5">ОТКАЗАНО</div></div>
                    <div class="edit-cell">
                      <img class="vuesax-outline-edit" src="{% static 'main/img/vuesax-outline-edit-2-2.svg' %}" />
                    </div>
                  </div>
                  <div class="border-2"></div>
                </div>
                <div class="deal-row-ignore">
                  <div class="cells-4">
                    <div class="image"><img class="img" src="{% static 'main/img/image-2.png' %}" /></div>
                    <div class="div-wrapper">
                      <div class="address-concat"><div class="text-wrapper-6">Сидоров Семен Петрович</div></div>
                    </div>
                    <div class="price-cell"></div>
                    <div class="room-area-cell">
                      <div class="room-area-concat"><div class="text-wrapper-6">₽2,7 млн</div></div>
                    </div>
                    <div class="date-cell"><div class="appointment-date">9 Ноя, 2023 14:53</div></div>
                    <div class="progress"><div class="progress-4">ОДОБРЕНО</div></div>
                    <div class="edit-cell"><img class="vuesax-outline-edit" src="{% static 'main/img/vuesax-outline-edit-2.svg' %}" /></div>
                  </div>
                  <div class="border-2"></div>
                </div>
                <div class="deal-row-ignore">
                  <div class="cells-5">
                    <div class="image"><img class="img" src="{% static 'main/img/image.png' %}" /></div>
                    <div class="div-wrapper">
                      <div class="address-concat"><div class="text-wrapper-6">Гугкаев Аслан Валерьевич</div></div>
                    </div>
                    <div class="price-cell"></div>
                    <div class="room-area-cell">
                      <div class="room-area-concat"><div class="text-wrapper-6">₽2,7 млн</div></div>
                    </div>
                    <div class="date-cell"><div class="appointment-date">7 Ноя, 2023 14:53</div></div>
                    <div class="progress"><div class="progress-6">ОТКАЗАНО</div></div>
                    <div class="edit-cell"><img class="vuesax-outline-edit" src="{% static 'main/img/vuesax-outline-edit-2.svg' %}" /></div>
                  </div>
                  <div class="border-2"></div>
                </div>
                <div class="load-more">
                  <button class="button"><button class="button-2">Загрузить еще</button></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-navigation">
          <div class="base-2"></div>
          <div class="menu">
            <a href="{% url 'home' %}">
              <div class="button-3"><img class="img-2" src="{% static 'main/img/icon-7.svg' %}" /></div>
            </a>
            <div class="icon-wrapper"><img class="img-2" src="{% static 'main/img/icon-6.svg' %}" /></div>
            <div class="button-3"><img class="img-2" src="{% static 'main/img/vuesax-outline-profile-2user.svg' %}" /></div>
            <div class="button-3"><img class="img-2" src="{% static 'main/img/icon-5.svg' %}" /></div>
            <div class="button-3"><img class="img-2" src="{% static 'main/img/icon-4.svg' %}" /></div>
            <div class="button-3">
              <div class="overlap-group"><div class="badge"></div></div>
            </div>
            <div class="button-3"><img class="img-2" src="{% static 'main/img/icon-2.svg' %}" /></div>
          </div>
        </div>
        <div class="navigation-bar">
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="left-bar"><div class="text-wrapper-7">Заявки</div></div>
              <div class="right-bar">
                <div class="img-wrapper"><img class="img-2" src="{% static 'main/img/icon-1.svg' %}" /></div>
                <div class="group">
                  <div class="overlap-group-2">
                    <div class="add-new"><button class="button-4">Помощник Салют</button></div>
                    <img class="element" src="{% static 'main/img/97004635-0888a900-1546-11eb-8f25-283a0693608e-1.png' %}" />
                  </div>
                </div>
                <div class="user"></div>
              </div>
              <div class="base-3"></div>
            </div>
            <div class="logo">
              <div class="overlap-4">
                <div class="image-wrapper"><img class="image-2" src="{% static 'main/img/image-1.png' %}" /></div>
                <div class="overlap-5">
                  <div class="base-4"></div>
                  <div class="base-5"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
