<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Меню</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <i class="bi bi-house-door"></i>
        <span>Главная</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/profile">
        <i class="bi bi-file-person"></i>
        <span>Профиль</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/code">
        <i class="bi bi-braces"></i>
        <span>Лаборатория</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/models">
        <i class="bi bi-lightning-charge"></i>
        <span>Модели</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/strategys">
        <i class="bi bi-lightbulb"></i>
        <span>Стратегии</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/graph">
        <i class="bi bi-graph-up"></i>
        <span>Визуализация</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/docs">
        <i class="bi bi-info-square"></i>
        <span>Документация</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/examples">
        <i class="bi bi-code-slash"></i>
        <span>Примеры</span>
      </a>
    </li><!-- End Dashboard Nav -->
  </ul>
</aside>
