<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <img class="child" alt="" src="./public/rectangle-41950.svg" />

      <h1 class="h1">Покупка</h1>
      <div class="div1">Количество</div>
      <div class="div2">Ввести сумму</div>
      <div class="div3">Доступно 12 (1 лот=1 шт.)</div>
      <div class="div4">В вашем портфеле: 0 шт.</div>
      <div class="parent">
        <div class="div5">Брокерский счёт</div>
        <div class="div6">1 000 000 000₽</div>
      </div>
      <button class="button">
        <div class="div7">Купить</div>
      </button>
      <div class="item"></div>
      <div class="div8">0</div>
      <img class="inner" alt="" src="./public/group-1171275871.svg" />

      <img class="group-icon" alt="" src="./public/group-1171275873.svg" />

      <div class="ellipse-parent">
        <img class="group-child" alt="" src="./public/ellipse-3224@2x.png" />

        <div class="sber">
          <p class="p">Сбер</p>
          <p class="sber1">SBER</p>
        </div>
      </div>
      <div class="div9">
        <p class="p">1 000 000 ₽</p>
        <p class="sber1">1 лот = 1 акция</p>
      </div>
    </div>
  </body>
</html>
