{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'name/css/index.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class='marquee' style='overflow:hidden; width: 80%'>АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ АНДРЕЙ ГЕЙ</div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js"></script>
    <script src="{% static 'name/js/running_str.js' %}"> </script>
</html>