<section class="section">
  <div class="row align-items-top">


    <div class="col-lg-12">

      <!-- Card with an image on top -->
      <div class="card">
        <img src="assets/strategy1.png" class="card-img-top" style="max-height: 300px" alt="...">
        <div class="card-body">
          <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Простая сигнальная стратегия на Level_b\Level_s</font></font></h5>
          <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Стратегия постоенная на глубоком анлизе глубины рынка в моменте и дисбалансе активных участников, оноситься к трендовым стратегиям</font></font></p>
        </div>
      </div><!-- End Card with an image on top -->

      <div class="card">
        <iframe width="100%" height="900px" src="https://app.aiscalp.store/stats.html"></iframe>
      </div>
    </div>
  </div>
</section>
