@media (max-width: 400px) {
	.page-header {
		display: grid;
	}
}

.card {
	@media (max-width: 400px) {
		width: 100%;
	}
}

.select-container {
	@media (max-width: 400px) {
		flex-wrap: nowrap;
		flex-direction: column;
	}
}
