
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Trading_stock_list' %}">
    stock Listing
    </a>
</p>
    
<table class="table">
    <tr><td>ticker</td><td>{{ object.ticker }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}