
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Trading_trading_history_list' %}">
    trading_history Listing
    </a>
</p>
    
<table class="table">
    <tr><td>priceUpdateDateTime</td><td>{{ object.priceUpdateDateTime }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>price</td><td>{{ object.price }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>stock</td><td>{{ object.stock }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}