
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% for object in object_list %}
  <div class="m-2">
    <a href="{{object.get_absolute_url}}">{{object}}</a>
    <small class="ml-5">
      <a href="{% url 'Trading_stock_delete' object.pk %}">
        (Delete)
      </a>
    </small>
  </div>
{% endfor %}
<div>
  <a class="btn btn-primary"
    href="{% url 'Trading_stock_create' %}">
  Create a new stock
  </a>

{% render_table tradestatOfSECID %}
</div>
{% endblock %}
