.listWrapper {
  background: black;
  padding: 18px 28px 18px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.listWrapperHidden {
  overflow: hidden;
  position: relative;
  display: flex;

  &:before {
    left: 0px;
    background: linear-gradient(90deg, #13161c 0%, rgba(24, 25, 27, 0) 100%);
  }

  &:after {
    right: 0;
    background: linear-gradient(270deg, #13161c 0%, rgba(24, 25, 27, 0) 100%)
  }

  &:before, &:after {
    position: absolute;
    z-index: 1;
    width: 72px;
    top: 0;
    bottom: 0;
    content: ""
  }

}

.list {
  max-width: 100%;

  &::-webkit-scrollbar {
    width: 0;
  }

  animation: 30s slide infinite linear;

  &:hover {
    animation-play-state: paused;
  }
}

.card {
  min-width: 145px;
  width: 145px;
  padding: 4px 0;
  overflow: hidden;
}

.content {
  background: #d0cccc;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
